/* Default styles */

body {
  background: hsl(154 50% 5%);
  color: hsl(154 84% 70%);
  text-shadow: 0 0 4px hsl(154 84% 70%);
  font-family: monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  min-height: 98vh;
  
}

.nav-link.active {
  text-shadow: 0 0 8px hsl(154 84% 85%);
}

.welcome {
  height: 98vh;
  display: table;
}

#welcome-pre {
  margin: auto;
  padding-top: 35vh;
}

#glare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(hsl(168, 15%, 19%) 0%, hsl(158, 67%, 2%) 70%);
}

@keyframes lines {
  0% { background-position: 0px 0px }
  50% { background-position: 0px 0px }
  51% { background-position: 0px 2px }
  100% { background-position: 0px 2px }
}

#interlaced {
  position: fixed;
  background: repeating-linear-gradient(transparent 0px 1px, hsla(0, 0%, 24%, 0.3) 3px 4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
  0% { opacity: 0 }
  30% { opacity: 1 }
  70% { opacity: 1 }
  100% { opacity: 0 }
}

.blink {
  animation: blink 0.4s linear infinite;
}
#main{
  width:75%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-size:20px;
  /* max-width: 1000px; */
}
#main>#about {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  text-align: justify;
}

#main-pre {
  display: table;
  margin: auto;
  float: left;
}

#about-text {

  text-align: justify;
  line-height:130%;
}

#nav-bar {
  display: flex;
  align-items: center;
    width: 60%;
    /* position: absolute;
    top: 50px;
    left: 0; */
    justify-content: space-between;

}

#nav-bar > div {
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  width: 200px;
  padding: 1vh;
}

a.nav-link:link
{
  color: hsl(154 84% 70%);
   text-decoration: none;
}
a.nav-link:visited
{
  color: hsl(154 84% 70%);
   text-decoration: none;
}
a.nav-link:hover
{
  color: hsl(154 84% 70%);
   text-decoration: none;
}
a.nav-link:active
{
  color: hsl(154 84% 70%);
   text-decoration: none;
}

#portrait {
  font-size: 2.5px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;*/
  padding: 2.5vh;
  line-height: 130%;
  
}
#skill{
  width:100%
}
#skills-title{
font-size: 24px;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.skills p {
  flex: 0 0 calc(12% - 10px); /* Adjust the width as needed */
  margin: 15px; /* Adjust the margin as needed */
}

.boxed-text {
  font-size: 18px;
  text-align: center;
}

#project{
  display: flex;
  justify-content:space-around;
  align-items: center;

}
#project-div{
  max-width: 50%;
  margin:20px;
  
}
#project-title{
  font-size: 30px;
  
  font-weight: bold ;

}
#project-description{
  text-align: justify;
  line-height:130%;
}
#project-image>pre{
font-size:0.175vw;
line-height:130%;
margin:20px;
}
#project-image>table{
  font-size:16px;
  line-height:130%;
  margin:20px;
  }
  th, td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #
}
#social-media{
  width:100%;
  

}
#social-medias{
width: 100%;
font-size: 1px;
line-height: 130%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
justify-content: space-around;



}
#social-medias-box-limit{
padding:5px;

}
#social-medias-box-limit:hover{
  text-shadow: 0 0 12px hsl(154, 84%, 100%);
  }

/* Style the box */
.box {
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid  hsl(154 84% 70%);
  box-shadow: 0 0 4px hsl(154 84% 85%);

}

.box:hover {
  background-color:  hsl(154, 84%, 70%);
  border: 2px solid  hsl(154 84% 70%);
  box-shadow: 0 0 12pxhsl(154 84% 85%);
  color: #000; /* Fallback for older browsers */
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0 hsla(0, 0%, 100%, 0);
  text-align: center;
}
.footer {
  width: 100%;
  height: 50px;
  /* position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  flex-basis: 100px; */
  flex-shrink: 0;
}

.mobile-continue {
  text-align: center;
  margin-top: 10px;
  display: none;
}

.mute-toggle {
  position: absolute;
  top: 15px;
  right: 7.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mute-icon,
.unmute-icon {
  font-size: 3px;
  display: block;
}

.mute-icon.mute,
.unmute-icon.mute {
  display: none;
}

.mute-icon.unmute,
.unmute-icon.unmute {
  display: block;
}

/* Media query for smaller screens */

@media (max-width: 768px) {
  body {
    background: hsl(154 50% 5%);
    color: hsl(154 84% 70%);
    text-shadow: 0 0 4px hsl(154 84% 70%);
    font-family: monospace;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #main-pre > p{
    font-size: 13px;
  }
  .welcome {
    display: table;
  }
  
  #welcome-pre {
    padding-top: 0px;
  }
  
  #glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(hsl(168, 15%, 19%) 0%, hsl(158, 67%, 2%) 70%);
  }
  
  @keyframes lines {
    0% { background-position: 0px 0px }
    50% { background-position: 0px 0px }
    51% { background-position: 0px 2px }
    100% { background-position: 0px 2px }
  }
  
  #interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, hsla(0, 0%, 24%, 0.3) 3px 4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    animation: lines 0.06666666s linear infinite;
  }
  
  @keyframes blink {
    0% { opacity: 0 }
    30% { opacity: 1 }
    70% { opacity: 1 }
    100% { opacity: 0 }
  }
  
  .blink {
    animation: blink 0.4s linear infinite;
  }
  
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #main-pre {
    display: table;
    margin: auto;
  }
  
  #nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav-bar > div {
    margin-left: 1vh;
    margin-right: 1vh;
    line-height: 50px;
    text-align: center;
    font-size: 11px;
    padding: 1vh;
  }
  
  #portrait {
    font-size: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vh;
  }

  .footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .mobile-continue {
    text-align: center;
    margin-top: 5px;
    display: none;
  }
  
  .mute-toggle {
    position: absolute;
    top: 7.5px;
    right: 3.75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mute-icon,
  .unmute-icon {
    font-size: 2px;
    display: block;
  }
  
  .mute-icon.mute,
  .unmute-icon.mute {
    display: none;
  }
  
  .mute-icon.unmute,
  .unmute-icon.unmute {
    display: block;
  }
  
}


